$greyBlue: rgb(44,50,58);

@mixin wrappedFlexDisplaying($direction: row, $justify: flex-start, $align: stretch) {
    display: flex !important;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
}

@mixin flexDisplaying($direction: row, $justify: flex-start, $align: stretch) {
    display: flex !important;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin responsiveGridLayout($itemWidth, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, $itemWidth);
    gap: $gap;
    justify-content: space-around;
}

@mixin styledVerticalScrollbar($thumbColour: grey, $trackColor: $darkerWhite) {
    scrollbar-width: thin;
    scrollbar-color: grey $beautifulBlue;
    /* supported in chrome, edge, safari only */
    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: inherit;
    }
    &::-webkit-scrollbar-thumb {
        width: 8px;
        background-color: $thumbColour;
        border-radius: 15px;
    }
}