@use "sass:math";

$oceanBlue: rgba(0,166,228,1);

$niceBlue: #3a95e9;

$niceDarkBlue: #005eb7;

$niceDarkBlue2: #006095;

$beautifulBlue: rgb(38, 57, 77);

$niceYellow: rgb(212, 189, 147);

$logoDarkGold: #A37733;
$logoLightGold: #d7b437;
$logoLightGold2: #e7d293;
$originalLightGold: #f4ea99;

$niceOrange: #ce7a00;

$darkerWhite: #f4f3f1;

$loadingSkeletonColour: rgb(241,239,241);

$dotColour: #e5e7eb;

$niceGrey: #9ca6b6;

$niceBlack: rgb(32, 26, 27);

$greyBlue: rgb(44,50,58);

$themeGold: #c9a461;
$themeGrey: #959EAD;
$themePurple: #707dcb;

/* #808080 */

@mixin greyBlueBackgroundGradient() {
    background-color: transparent !important;
    background: $greyBlue;
    background: linear-gradient(45deg, #323232, $greyBlue);
}

@mixin blackBlueBackgroundGradient() {
    background-color: transparent !important;
    background: $niceDarkBlue2;
    background: linear-gradient(45deg, #323232, $niceDarkBlue);
}

@mixin goldBackgroundGradient() {
    background-color: transparent !important;
    background: linear-gradient(155deg, $logoDarkGold 0%, $logoLightGold 110%);
}

@mixin wrappedFlexDisplaying($direction: row, $justify: flex-start, $align: stretch) {
    display: flex !important;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
}

@mixin flexDisplaying($direction: row, $justify: flex-start, $align: stretch) {
    display: flex !important;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin responsiveGridLayout($itemWidth, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, $itemWidth);
    gap: $gap;
    justify-content: space-around;
}

@mixin styledVerticalScrollbar($thumbColour: grey, $trackColor: $darkerWhite) {
    scrollbar-width: thin;
    scrollbar-color: grey $beautifulBlue;
    /* supported in chrome, edge, safari only */
    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: inherit;
    }
    &::-webkit-scrollbar-thumb {
        width: 8px;
        background-color: $thumbColour;
        border-radius: 15px;
    }
}